.footer{
    text-align: center;
    padding: 5rem 0 3rem;
    .footer__logo{
        margin: auto;
        img{

        }
    }
    .footer__menu{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 3rem 0;
            li{
                list-style: none; 
                a{
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: #4E4E4E;
                    text-decoration: none;
                    padding: .5rem;
                    margin: 1rem;
                    transition: all .2s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .social_media{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 3rem 0 2rem;
            li{
                list-style: none;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
                margin: 0 1rem;
                a{

                }
            }
        }
    }
    .copyright{
        p{
            font-size: 1.6rem;
            font-weight: 600;
            color: #000000;
        }
    }
}