// .burger-icon {
// 	position: relative;
// 	width: 24px;
// 	height: 20px;
// }
// .burger-icon-top,
// .burger-icon-bottom {
// 	display: block;
// 	position: absolute;
// 	left: 0;
// 	width: 100%;
// 	height: 3px;
// 	// -webkit-transform: translateZ(0);
// 	// transform: translateZ(0);
// 	// -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
// 	// transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
// 	// transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
// 	// transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
// }

// .burger-icon-top::before, 
// .burger-icon-bottom::before{
//     content: "";
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 50%;
// 	height: 100%;
// 	background: red;
// 	opacity: .99;
// }
// .burger-icon-top::after, 
// .burger-icon-bottom::after {
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 50%;
// 	height: 100%;
// 	background: black;
// 	opacity: .99;
// }
// .burger-icon-top {
// 	top: 5px;
// }
// .burger-icon-bottom {
// 	bottom: 5px;
// }
.burger_icon {
	background-color: #007C88;
	padding: 10px 0;
	width: 31px;
	position: relative;
	outline: 7px solid #007c88;
	border-radius: .1px;
	overflow: hidden;
    cursor: pointer;
}
.burger_icon__top{
    display: flex; 
    position: absolute;
    top: 0; 
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger_icon__bottom{
    display: flex; 
    position: absolute;
    bottom: 0; 
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger_icon__middel{
    display: flex; 
    position: absolute; 
    top: 41%; 
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger_icon:hover .burger_icon__top, 
.burger_icon:hover .burger_icon__bottom{  
    transform: translateX(-50%);
}
.burger_icon:hover .burger_icon__middel{  
    transform: translateX(0);
}
.burger-icon-top-1,
.burger-icon-top-2,
.burger-icon-middel-1,
.burger-icon-middel-2{
    background-color: #fff;
	width: 30px;
	height: 3px;
	margin-right: 15px;
	border-radius: 5px;
}
 


.header{
    background-image:linear-gradient(90deg, rgba(225,252,255,1) 30%, rgba(249,255,237,1) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    &__text{
        margin-top: 10rem;

        h3{  
            font-weight: bold;
            font-size: 3.6rem; 
            color:#007C88;

        }
        h2{
            font-size: 6.2rem;
            font-weight: 600;
            margin: 3rem 0;
            span{
                font-weight: 800;
                color:#007C88;
                font-size: 7.2rem;
            }
        }
        p{
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 3.3rem;
            margin-bottom: 3rem;
            width: 70%;
        }
    }
    &__image{
        width: 100%;
        height: 100%;
        // background-image: url("./../images/portrait-joyful-young-man-white-shirt 1.png");
        // background-size: cover;
        // background-position: center;
        // position: relative;
        // z-index: 999;
        img{
            width: 100%; 
        }
    }
}