.navbar{
    padding-top: 3rem;
    .navbar-brand .logo {
        width: 80%;
    }
    .main_menu{
        
        li{
            width: 10rem;
            text-align: center;  
            a{
                text-decoration: none; 
                color:#4E4E4E;
                font-weight: 700;
                padding: .7rem 0;
                font-size: 1.8rem;
                line-height: 2.5rem;
                transition: all .2s;
                position: relative;

                &.active{ 
                    color: #007C88;
                }
                &:hover{
                    color: #007C88;
                }

                &.active::after,
                &::after{
                    content: '';
                    position: absolute;
                    left: auto;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    height: 4px;
                    background-color:#007C88;
                    border-radius: 5px;
                    transition: all .3s;
                }
                &.active::after,
                &:hover::after{
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }
    .number{
        background-color:#007C88;
        border-radius: 1rem;
        padding: 1.2rem 1.6rem;
        text-decoration: none;  
        display: flex;
        img{
            width: 26px;
        }
        span{ 
            color: #ffffff;
            
            font-weight: 600;
            font-size: 18px;   
        }
    }
    
    // mobile navbar togler button
    .navbar-toggler:focus { 
        box-shadow: unset;
    }
    .navbar-toggler { 
        border: none;
    }
}